# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/

# ===============================
# Virtual Environment (Windows)
# ===============================
venv/
ENV/
env/

# ===============================
# Playwright
# ===============================
ms-playwright/
playwright-report/
test-results/

# ===============================
# Generated Tests (AUTO FILES)
# ===============================
app/generated_tests/
test_error.png
test_warning.png
screenshot.png

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Flask / Debug
# ===============================
instance/
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Node (if accidentally installed)
# ===============================
node_modules/
package-lock.json
